*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Orbitron',sans-serif;
}

body{
    background:#050b16;
    color:#fff;
    overflow-x:hidden;
}

.background{
    position:fixed;
    inset:0;
    background:radial-gradient(circle,#0d1b3d,#050b16);
    z-index:-1;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    border-bottom:1px solid rgba(0,255,255,.2);
}

.logo h1{
    color:#00e5ff;
    font-size:42px;
}

.logo p{
    color:#b7dfff;
    margin-top:5px;
}

.status{
    color:#00ff88;
    font-weight:bold;
}

main{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    padding:40px 20px;
}

.left-panel,
.right-panel{
    width:480px;
    max-width:95%;
}

.ai-circle{
    width:280px;
    height:280px;
    margin:20px auto;
    border-radius:50%;
    border:3px solid #00e5ff;
    display:flex;
    justify-content:center;
    align-items:center;
    position
